/*
===============
Global Form styles
===============
*/
.form-section {
    background: var(--extraColor);
    margin: 0 auto;
    min-height: 100vh;
}

.form {
    background: white;
    border-radius: var(--radius);
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.267);
}

.form h2 {
    padding-top: 1.25rem;
    font-family: var(--secondaryFont);
}

.form-group {
    padding: 1rem 1.5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 2rem 1rem;
    border: none;
    background: var(--extraColor);
    letter-spacing: var(--spacing);
}

.form h4{
    padding-bottom: 1.5rem;
    font-family: var(--primaryFont);
}

.form a{
    color: var(--secondaryColor);
}

.form-control::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

#login-form, #signup-form, #payment-form{
    margin: 2rem auto;
}

#contact-form input, #login-form input, #payment-form input, #appointment-form input{
    margin-bottom: 1.25rem;
}

#login-form, #payment-form {
    max-width: 35rem;
}

#appointment-form h3, #payment-form h3{
    font-size: 1.5rem;
    font-style: var(--secondaryFont);
    color: var(--primaryColor);
    padding: 1.5rem;
}

/*
===============
Signup Form
===============
*/

#signup-form input, #payment-form input{
    padding: 1rem 1rem;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
    align-items: center;
    grid-template-areas:
        "a a b b"
        "c c d d"
        "x x e f"
        "x x y z";
}

.child-1 {
    grid-area: a;
}

.child-2 {
    grid-area: b;
}

.child-3 {
    grid-area: c;
}

.child-4 {
    grid-area: d;
}
.child-5 {
    grid-area: e;
}

.child-5 span {
    font-family: var(--primaryFont);
    font-size: 1.2rem;
    text-transform: capitalize;
}
.child-6 {
    grid-area: f;
}

.child-7 {
    grid-area: x;
}

.child-8 {
    grid-area: y;
}

.child-8 {
    grid-area: z;
}

/*
===============
Form Errors
===============
*/

.form-error{
	color: red;
	text-transform: capitalize;
	font-family: var(--primaryFont);
}














